    <nav class="navbar">
        <div class="container">
            <div class="nav-brand">Lockstep Arcade</div>
            <div class="nav-links">
                <a href="{path_prefix}index.html">Home</a>
                <a href="{path_prefix}challenges/">Testing Challenges</a>
                <a href="{path_prefix}signup/">Signup</a>
                <a href="{path_prefix}neonswarm/">Neon Swarm</a>
                <a href="{path_prefix}pilots/">Pilots</a>
                <a href="{path_prefix}serpents/">Serpents</a>
                <a href="{path_prefix}spirits/">Spirits</a>
                <a href="{path_prefix}changelog/">Changelog</a>
                <a href="{discord_url}" target="_blank">Discord</a>
            </div>
        </div>
    </nav>
