    <nav class="navbar">
        <div class="container">
            <div class="nav-brand">Lockstep Arcade</div>
            <div class="nav-links">
                <a href="{path_prefix}index.html">Home</a>
                <a href="{path_prefix}index.html#features">Features</a>
                <a href="{path_prefix}index.html#screenshots">Screenshots</a>
                <a href="{path_prefix}download/">Download</a>
                <a href="{path_prefix}signup/">Beta Access</a>
                <a href="{path_prefix}changelog/">Changelog</a>
                <a href="{discord_url}" target="_blank">Discord</a>
            </div>
        </div>
    </nav>
