<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Getting Started - Lockstep Arcade</title>
    <meta name="description" content="Information about getting started with Lockstep Arcade">
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
{navbar}

    <section class="section">
        <div class="container">
            <h2>Getting Started</h2>
            <p>
                (This page is for information about getting started after downloading and installing the game,
                and assumes you are already able to start the game and see the main menu.)
            </p>

            <div class="content-box content-box--bordered content-wrapper">
                <h3>Online and Offline UI</h3>
                <p>
                    When running the game you start in the offline part of the game interface.
                </p>
                <p>
                    There is some stuff you can do here, such as playing through the Neon Swarm tutorial,
                    but to play multiplayer games you will need to connect to the server.
                </p>
                <p>
                    Information about setting up credentials for this can be found on the
                    <a href="../setup">Credential Setup</a> page.
                </p>
            </div>

            <div class="content-box content-box--bordered content-wrapper">
                <h3>The Main Menu</h3>

                <p>The main things you can do from here are:</p>
                <ul>
                    <li>Play through the Neon Swarm tutorial (offline)</li>
                    <li>Connect to the server</li>
                </ul>
            </div>

            <div class="content-box content-box--bordered content-wrapper">
                <h3>Credentials and Connecting to the Server</h3>

                <p>A credentials file is requried for connection to the server.</p>

                <p>Maybe I already sent you this. If not, you will need to <a href="https://locksteparcade.com/signup/">sign up for beta testing</a>.</p>

                <p>
                    Once you have a credentials file ('credentials.bin'), this will need to be put into the same directory as the game executable,
                    in order for the game to be able to find it and connect to the server.
                </p>

                <p>
                    Once you have a valid 'credentials.bin' file next to 'LockstepArcade.exe' or 'LockstepArcade', you should be able to select "Connect to server",
                    and enter the online part of the game user interface.
                </p>
            </div>

            <div class="content-box content-box--bordered content-wrapper">
                <h3>The Online UI</h3>

                <p>The online part of the game user interface is organised into a set of tabbed pages that you can move between by clicking on different tabs at the top of the scren.</p>

                <p>As a first step, you may want to change your name, as seen by other players in the lobby, using the 'Name change' tab.</p>

                <p>You can then create a game room and start a game through the 'Rooms and players' tab.</p>

                <p>The other tabs show information about games that have been played, high scores, and rankings.</p>
            </div>

            <div class="content-box content-box--bordered content-wrapper">
                <h3>Creating a Game Room</h3>

                <p>The first step for playing an online game is to create a game room, by clicking the 'Create a game room' button.</p>

                <p>
                    This will take you to a page where you can set up the details of the game to be played, such as the type of game, map to play on, and so on.
                    When you are happy with the settings, click 'Create room' to go ahead and create the game room (which will then become visible to other players).
                </p>

                <p>For a game with more than one player, only one player needs to create a room, and other players can then join this room.</p>
            </div>

            <div class="content-box content-box--bordered content-wrapper">
                <h3>Starting a Game</h3>

                <p>
                    After either creating or joining a game, you will be taken to a page with a list of players on the left, and some information about the game settings on the right.
                </p>

                <p>
                    All players in a game room need to click to indicate they are ready, and then the host (player at the top of the players in room list) can start the game.
                </p>
            </div>

            <div class="content-box content-box--bordered content-wrapper">
                <h3>Game Controls</h3>

                <div class="card-grid card-grid--3col">
                    <div class="control-item">
                        <h4>Camera Movement</h4>
                        <p><strong>Middle Mouse + Drag:</strong> Pan the view around</p>
                        <p><strong>Mouse Wheel:</strong> Zoom in and out</p>
                        <p><strong>WASD Keys:</strong> Alternative camera movement</p>
                    </div>

                    <div class="control-item">
                        <h4>Giving Orders</h4>
                        <p><strong>Click order in bar:</strong> Select an order from the top bar</p>
                        <p><strong>Function Keys:</strong> Quick-select orders</p>
                        <p><strong>Click near lemming:</strong> Give the selected order</p>
                        <p><strong>Left/Right Arrow:</strong> Hold to set directional filter</p>
                    </div>

                    <div class="control-item">
                        <h4>Other Controls</h4>
                        <p><strong>F11:</strong> Toggle fullscreen/windowed mode</p>
                    </div>
                </div>

                <div class="info-box">
                    <h4>Important Notes</h4>
                    <ul>
                        <li>You only have a limited supply of each order type, so use them carefully!</li>
                        <li>Orders won't apply to falling lemmings (they appear darkened)</li>
                        <li>Selection bars will show which lemming will get an order for the current mouse position</li>
                    </ul>
                </div>
            </div>

            <div class="content-box content-box--bordered content-wrapper">
                <h3>Game Objectives</h3>

                <p>Lockstep Arcade features a Lemmings clone where the goal is to get your lemmings from a start position to an exit location.</p>

                <p>
                    For some maps, play is all against all, and other maps have team assignments.
                    There are also some coop challenges that can be played single player or as part of a team.
                </p>

                <p>
                    When there are team assignments, this will be specified in the game details (shown on the right hand side when a game is clicked in the server overview page,
                    and in the details shown on the right of the game room page).
                </p>

                <p>The team (or player) who got the most swarmers into their exit when the game time expires is the winner!</p>
            </div>

            <div class="content-box content-box--bordered content-wrapper">
                <h3>Testing and Multiple Clients</h3>

                <p>Most of the time (e.g. if you connect at some arbitrary random time) the lobby will likely be completely empty, apart from you, on connection.</p>

                <div class="info-box">
                    <p>Multiple clients can be started on a single machine for testing purposes by double-clicking <code>client.exe</code> again after the game has started. One client can then be used to create a game room, and then you can join this game room with other clients to see everything working.</p>
                    <p>It is also possible to play games with just one player (even on maps where this doesn't really make sense), to try out the various in-game mechanics and just see the game running.</p>
                </div>
            </div>

            <div class="info-box info-box--cta content-wrapper">
                <h3>Need Help?</h3>
                <p>If you're experiencing issues or have questions, please reach out through the <a href="signup/">beta access form</a> with details about your problem.</p>
            </div>
        </div>
    </section>

{footer}

</body>
</html>
