<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spirits - Lockstep Arcade</title>
    <meta name="description" content="Information about Spirits game, in Lockstep Arcade">
    <meta property="og:title" content="Spirits - Lockstep Arcade">
    <meta property="og:description" content="Information about Spirits game, in Lockstep Arcade">
    <meta property="og:url" content="https://locksteparcade.com/spirits/">
    <meta name="twitter:title" content="Spirits - Lockstep Arcade">
    <meta name="twitter:description" content="Information about Spirits game, in Lockstep Arcade">
{og_tags}
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
{navbar}

    <section class="section">
        <div class="container">
            <h2>Spirits</h2>
            <p class="section-intro">
                The Spirits game runs on mobile phones as well as desktop, and supports single player and online co-op game modes.
            </p>

            <p>Spirits is an homage to the classic platformer <a href="https://en.wikipedia.org/wiki/N%2B%2B">"N++"</a>, with support for online play.</p>

            <div class="content-box content-box--bordered content-wrapper">
                <h3>Game Objectives</h3>

                <p>The goal in Spirits is to get a ship on your team to an exit location, but, importantly, only one ship on the team needs to exit for the team to complete a map.</p>

                <p>There''s a timer, and a ship needs to exit before the timer runs out, but time can be replenished by collecting stars.</p>

                <p>Maps will also contain enemies, who are deadly to players in various ways, and need to be avoided.</p>

                <div class="info-box">
                    <h4>Notes</h4>
                    <ul>
                        <li>For high scores, exiting with more time remaining puts you above someone else who also exited the map.</li>
                    </ul>
                </div>
            </div>

            <div class="content-box content-box--bordered content-wrapper">
                <h3>Game Controls</h3>
                <p>
                    Control your ship by clicking and holding left mouse (on desktop platforms),
                    or touching the screen and holding (on mobile phones), in the direction you want your ship to accelerate towards.
                </p>
                <p>
                    A red circle around the serpent head, at the centre of the screen, shows the control region.
                    Clicking or touching at or outside this circle will give you maximum acceleration and clicking or touching inside the circle
                    then enables more delicate control.
                </p>
                <p>
                    A wall or floor directly behind your ship boosts thrust significantly, and working out how to take advantage of this is an important
                    part of learning to play the game.
                </p>
                <p>
                    Facing upwards or sideways slows your descent and you can also kind of glide when facing your ship sideways.
                </p>
                <div class="info-box">
                    <h4>Advice</h4>
                    <ul>
                        <li>Gravity is a pain, and it's important to work out how to get maximum thrust in order to overcome gravity.</li>
                        <li>Use maximum thrust to take off from a floor surface and get enough velocity to move up to some higher ground.</li>
                        <li>Slide against and take off from side walls to get a thrust boost from these, also.</li>
                        <li>The controls are tricky and take some time to master, but take some time to practice and you will get the hang of this.</li>
                    </ul>
                </div>
            </div>

        </div>
    </section>

{footer}

</body>
</html>
